.userPage-container {
  border: 1px solid black;
  width: 90%;
  height: 100%;
  margin: auto;

  display: flex;

  &-markers {
    border: 1px solid black;
    width: 60%;
  }

  &-user {
    border: 1px solid black;
    width: 40%;
  }
}
