.home {
    height: 100%;
    position: relative;
    max-width: 100%;

    overflow-x: hidden;
}

.clic-img {
    width: 24px;
    margin-left: 12px;
    vertical-align: middle;
}

.clic {
    position: absolute;
    z-index: 1000;
    top: 25px;
    right: -200px;

    padding: 18px;

    color: #ffffff;
    background-color: #00daed;
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 2px rgb(128, 125, 125);

    animation: clic_animation 0.5s forwards ease-out;
}

@keyframes clic_animation {
    0% {right: -100px}
    100% {right: 25px}
}