@use 'src/styles/vars' as v;

.notfound-container {
  width: 70%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  text-align: center;
}

.notfound-container strong {
  font-weight: 700;
  color: v.$dark-blue;
}
