.about-container {
  width: 70%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 24px;
  text-align: center;
}

.about-container strong {
  font-weight: 700;
  color: #64bde1;
}

.about-container em {
  font-style: italic;
}

.about-container a {
  font-style: italic;
}
