@use 'src/styles/vars' as v;
@use 'src/styles/mixins' as m;

.displayer {
  height: 96%;
  width: 28%;
  border: 2px solid v.$black;
  border-radius: 8px 0 0 0;
  @include m.box-shadow;

  background-color: v.$white;

  padding: 12px;

  position: absolute;
  right: 16px;
  top: 2%;
  z-index: 1000;

  /*-------Close Button-------*/
  &:hover &-close-button {
    opacity: 100;
  }

  &-close-button {
    opacity: 0;

    position: absolute;
    top: 6px;
    right: 6px;

    cursor: pointer;

    background-color: inherit;

    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  }

  &-close-button:hover {
    transform: rotate(90deg);
  }

  &-close-button img {
    width: 24px;
  }

  /*-------Header-------*/
  &-header {
    height: 10%;

    &-title {
      font-size: 24px;
      font-weight: 700;
    }

    &-tabs {
      height: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-tabs li {
      font-size: 18px;
      font-weight: 600;

      cursor: pointer;
    }
  }

  .active-tab {
    background-color: v.$clear-blue;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
  }

  /*-------Data content-------*/
  &-section {
    height: 90%;
    margin-top: 12px;
  }

  &-article {
    height: 25%;

    &-header {
      display: flex;
      align-items: center;

      height: 25%;

      border-top: 1px solid v.$black;
      border-bottom: 1px solid v.$black;
    }

    &-title {
      font-size: 24px;
    }

    &-img {
      width: 24px;
      margin-right: 12px;
    }

    &-content {
      height: 75%;

      display: flex;
      justify-content: start;
      position: relative;
    }

    &-card {
      width: 25%;
      margin-left: 6px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      position: relative;
    }

    &-card p:first-child {
      font-size: 0.8rem;
      position: absolute;
      top: 12px;
      left: 0;
    }

    &-card p:last-child {
      text-align: center;
      font-weight: 600;
      color: v.$dark-blue;
    }

    &-arrow {
      width: 48px;
    }

    &-suggestions {
      font-weight: 900;
      text-transform: uppercase;
      color: #64bde1;
      text-align: center;

      display: flex;
      justify-content: center;
    }

    &-suggestions div {
      margin: 0;
    }
  }
}
