.header-main {
  height: 55px;
  width: 100%;
  border: 1px solid ;
}

.header-main ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 900;
  letter-spacing: 12px;
}

.header-img {
  width: 24px;
  margin: 12px;
  vertical-align: middle;
}

@media (max-width: 432px) {
  .header-main ul {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .header-img {
    display: none;
  }
}