.header-main {
  height: 55px;
  width: 100%;
  border: 1px solid ;
  position: relative;
}

.header-main ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 900;
  letter-spacing: 12px;
}

.header-img {
  width: 24px;
  margin: 12px;
  vertical-align: middle;
}

.connection-wrapper {
  position: absolute;
  right: 16px;
  top: 12px;
}

.connection-icon_active {
  display: none;
}

.connection-login_hide {
  display: none;
}

.connection-login-button {
  background-color: inherit;
}

.connection-signup {
  margin-left: 12px;
  margin-top: 2px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 432px) {
  .header-main ul {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .header-img {
    display: none;
  }
}