.footer-main {
    height: 55px;
    width: 100%;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}

.footer-main ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}