.displayer {
    height: 96%;
    width: 28%;
    border: 2px solid black;
    border-radius: 8px 0 0 0;
    box-shadow: 4px 4px 2px rgb(128, 125, 125);

    background-color: rgb(255, 255, 255);

    padding: 12px;

    position: absolute;
    right: 16px;
    top: 2%;
    z-index: 1000;
}

.displayer-header {
    height: 10%;
}

.displayer-title {
    font-size: 24px;
    font-weight: 700;
}

.displayer-img {
    width: 24px;
    margin-right: 12px;
}

.displayer-tabs {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.displayer-tabs li {
    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}

.active-tab {
    background-color: #00daed;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
}

.clicked {
    border-bottom: 1px solid #000000;
}

.displayer-section {
    height: 90%;
    margin-top: 12px;
}

.displayer-article {
    height: 25%;
}

.displayer-article-header {
    display: flex;
    align-items: center;

    height: 25%;
}

.displayer-section-title {
    font-size: 24px;
}

.displayer-section-content {
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.displayer-section-content div {
    margin-left: 24px;
    
}